ion-buttons{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.-btn{
    box-shadow: 2px 2px 4px 4px #f0f0f0;
    border-radius: 10px;
    width: 75%;
    height: 45px !important;
    margin-bottom: 15px !important;
    padding: 15px 0 15px 0;
    font-weight: bold;
  }
.-btn-primary{
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}
.-btn-secondary{
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);
}
.-btn-tertiary{
  border: 1px solid var(--ion-color-tertiary-contrast);
  background-color: var(--ion-color-tertiary);
  color: #70f4b4;
}
.-btn-normal{
  background-color: #ffffff;
  color: var(--ion-color-light-contrast);
}
.-btn.-dir-col{
  height: 50vh !important;
  width: 45px !important;
  margin-top: 0;
}